.App {
  display: flex;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* @media only screen and (max-width: 600px) {
  div.App {
    width: 60vw;
  }
} */
/* @media only screen and (max-width: 600px) {
  #divBar {
    display: flex;
    padding-bottom: 5%;
    margin-right: 27px;
    width: inherit;
  }
  .pro-sidebar-inner {
    width: inherit;
  }
} */
/* 
 @media only screen and (max-width: 600px) {
  div#navBar {
    display: inline-block;
    margin-bottom: 6px;
    width: inherit;
  }
} */
@media only screen and (max-width: 600px) {
  .active,
  .arrow {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  ul {
    display: flex;
    /* flex-wrap: wrap;  */
    /* width: 50%; */
  }
}

@media only screen and (max-width: 600px) {
  .pro-sidebar {
    width: 100vw;
    /* min-width: 80%; */
    /* display: flex; */
  }
}
/* @media only screen and (max-width: 600px) {
  .logoutbtn {
    width: inherit;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div.TodoNav {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  width: 150%;
  text-align: center;
  border-bottom: 1px solid rgb(133, 129, 129);
}

.edit {
  margin-left: 2%;
  border: 2px solid rgb(85, 85, 92);
  border-radius: 3px;
}
.delete {
  border: 2px solid rgb(85, 85, 92);
  border-radius: 3px;
}
.AddTask {
  border-radius: 3px;
}
