.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid lightgray;
}
.pro-sidebar-layout {
  background-color: rgb(42, 54, 60);
}

.arrow {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
}

span {
  color: black;
}