
.input {
  height: 52px;
}

.passwordError {
  font-size: 20px;
  font-weight:300;
  color: rgb(255, 23, 23);
  margin: 0;
}

@media all and (min-width: 600px) {
  .Registration {
    padding: 0;
  }

  .Registration form {
    margin: 0 auto;
    max-width: 320px;
  }

  .error {
    color: red;
  }

}