/* html,
body {
  background-color: rgb(61, 77, 72);
}

.wrapper {
  padding: 20px;
  margin: 15px 0;
  background-color: rgb(50, 47, 47);
} */

.journalEntries {
  width: calc(100% - 280px);
}

@media (max-width: 670px) {
  .journalEntries {
    width: 100%;
  }
}
/* textarea {
  font-size: 20px;
  width: 100%;
}

textarea:focus {
  border-bottom: 6px solid rgb(255, 224, 51);
  border-left: 5px solid rgb(249, 121, 9);
  border-top: 5px solid rgb(95, 196, 191);
  border-right: 5px solid rgb(128, 78, 143);
}

h3 {
  margin-top: 40px;
  font-weight: bold;
  background-color: rgb(84, 109, 109);
  color: #fff;
  max-width: 15%;
  text-align: center;
  box-shadow: 2px 3px 4px 5px rgb(186, 173, 164);
  border-radius: 0 5px 5px 0;
  margin-bottom: -43px;
}

input.submit {
  border-color: rgb(216, 255, 255);
  color: rgb(9, 9, 9);
  box-shadow: 0 0 40px 40px rgb(84, 109, 109) inset, 0 0 0 0 rgb(11, 227, 227);
  transition: all 150ms ease-in-out;
  font-weight: bold;
  font-size: 20px;
  width: 10%;
  color: #fff;
}

input.submit:hover {
  box-shadow: 0 0 10px 3px rgb(68, 208, 227) inset,
    0 0 10px 4px rgb(127, 228, 10);
  color: black;
  border-bottom: 1px solid rgb(255, 224, 51);
  border-left: 1px solid rgb(249, 121, 9);
  border-top: 1px solid rgb(95, 196, 191);
  border-right: 1px solid rgb(128, 78, 143);
}

input.search {
  margin-left: 17%;
  border: 2px solid rgb(95, 118, 118);
  border-bottom: 3px solid rgb(87, 85, 85);
  margin-bottom: -20px;
  border-radius: 10px;
  padding: 12px;
  font-size: 15px;
}

input.search:focus {
  border: 2px solid rgb(213, 153, 85);
  border-bottom: 3px solid rgb(249, 213, 9);
  background-color: rgb(223, 249, 249);
} */
