abbr {
  text-decoration: none;
}

.tiny {
  position: absolute;
  right: 10px;
  top: 540px;
}

@media (max-width: 670px) {
  .tiny {
    position: relative;
    right: 0px;
    top: 0px;
  }
}

div.react-calendar {
  height: fit-content;
  border-radius: 2%;
  border: darkgrey solid 2px;
  max-width: 260px;
}

.react-calendar__navigation {
  border-bottom: 1px solid lightgray;
  background-color: rgb(229, 243, 255);
}

.react-calendar__month-view__weekdays__weekday {
  margin-top: -16px;
  background-color: rgb(236, 252, 255);
  text-decoration: underline;
}

button.react-calendar__navigation__arrow {
  padding: 0;
}

.react-calendar__navigation__label__labelText,
.react-calendar__navigation__label__labelText--from {
  font-size: 14px;
  font-weight: bold;
}

.react-calendar__tile,
.react-calendar__month-view__days__day,
.react-calendar__month-view__days__day--weekend {
  padding: 5px;
}
