@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }

    label
    {font-size: 30px;}
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }

    .login_button {
      margin-bottom: 5px;
    }

    input {
      margin: 5px;
    }
  }